.post__wrapper {
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
}

.post__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.post__avatar img {
  width: 100%;
}
